.content-page {
  @apply h-screen;
  display: grid;
  grid-template:
    'list content' auto/150px auto;

  .list {
    @apply bg-slate-50 border-r border-gray-300;
    grid-area: list;
  }

  .content {
    grid-area: content;
  }
}
