@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  @apply w-screen h-screen;
}

* {
  opacity: .99;
}

.drag {
  -webkit-app-region: drag;
}

.nodrag,
input,
select,
textarea,
option {
  -webkit-app-region: no-drag;
}
